<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BetAnyone</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../static/bets/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../../static/bets/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../static/bets/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../../static/bets/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/dashboard/">Bet Anyone</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <form action="/search/" method="get" class="form-inline">
                                    <input type="text" class="form-control" placeholder="Search..." name="q">
                                    <span class="input-group-btn">
                                    <!-- <button class="btn btn-default" type="submit">
                                        <i class="fa fa-search"></i>
                                    </button> -->
                                </form>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="/dashboard/"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="/ncommerce/"><i class="fa fa-globe fa-fw"></i> Location Betting</a>
                        </li>
                        
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Location Based Betting</h1>
                           <div class="col-md-8">
                <!-- Embedded Google Map -->
                <iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed/v1/place?q=Weaver%20Stadium%2C%20Princeton%2C%20NJ%2C%20United%20States&key=AIzaSyDYbuiU5Nstqo6b77Zk63C7QZ2sctavKhI"></iframe>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <h3> It looks like you'll be near the Ivy League Track Championships! Consider making some bets! </h3>
        <div class="panel panel-default">
                        <div class="panel-heading">
                            Bets in Location of Weaver Stadium
                        </div>
                        <!-- /.panel-heading -->
                        
                        <div class="panel-body">
                            <div class="list-group">
                                <a href="/betpagencommerce/" class="list-group-item">
                                    Men's Pole Vaulting 
                                    <span class="pull-right text-muted small"><em>The winner of the event will exceed the 16-5 mark</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    Men's Track 400m
                                    <span class="pull-right text-muted small"><em>Harvard will win the event</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    Men's Track 110m Hurdles
                                    <span class="pull-right text-muted small"><em>The fastest time will exceed 14.05 seconds</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    Women's Track 100m 
                                    <span class="pull-right text-muted small"><em>Cornell will win the event</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    Men's Track 4x400m Relay 
                                    <span class="pull-right text-muted small"><em>Princeton will come in 2nd in the event</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    Women's Shot Put 
                                    <span class="pull-right text-muted small"><em>The longest distance thrown will not exceed 16.51 meters</em>
                                    </span>
                                </a>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    </div>
        <!-- /#page-wrapper -->
    </div>
    </div>
    <!-- /#wrapper -->
</div>
    <!-- jQuery -->
    <script src="../../static/bets/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../static/bets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../../static/bets/bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../../static/bets/dist/js/sb-admin-2.js"></script>

</body>

</html>
